*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*, *::before, *:after{
  box-sizing: inherit;
}

body{
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8rem;/*interlineado*/
}

h1, h2, h3{
  font-weight: 900;
  margin: 1rem 0 2rem 0;
}

/* h1{
  font-size: 4.8rem;
}
h2{
  font-size: 5.8rem;
}
h3{
  font-size: 5rem; */
/* } */

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  display: inline-block;/*para que no tengan esa linea en la parte inferior*/
}

.contenedor{
  max-width:  120rem;
  margin: 0 auto;
  width: 90%;
}

.text-center{
  text-align: center;

}

.mt-5{
  margin-top: 5rem;
}


.header{
  min-height: 60rem;
  background-image: url(https://img.freepik.com/free-photo/modern-automated-assembly-line-cars-latest-technological-neutral-technologies-production-cars-plant-assembly-shop-modern-cars_645730-531.jpg?w=996&t=st=1694205388~exp=1694205988~hmac=81a0ea2e91caeb4a1c692b7b6e8937bd6b4eedb09590ac045f367057bbc3da00);
  background-repeat: no-repeat;
  background-size: cover;/*para que tome todo el espacio*/
  background-position: center;
  padding: 5rem;

}

@media(min-width: 768px){
  .header {
    padding: 2rem;
  }
  }

  .container-header{
    display: flex;
    flex-direction: column;
    height: calc(60rem - 4rem);
    justify-content: space-between;
    color: var(--blanco);
  }

  .nombre-sitio{
    font-weight: 300;

  }

  .nombre-sitio span{
    font-weight: 900;

  }

  .lc{
    display: flex;
    justify-content: space-between;
  }

  .contacto{
    flex-direction: column;

  }


.list-1{
  list-style: none;
  background-color: blueviolet;
  margin-top: 20px;
  
}
.list-2{
  background-color: aqua;
  margin-top: 20px;

  display: flex;
  flex-direction: row;
}

.list-3{
  background-color: aquamarine;
  margin-top: 20px;
}

.list-4{
  background-color: red;
  margin-top: 20px;
}