*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body{
  font-family: 'Roboto', sans-serif;
  margin: 50px 80px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 35px;
}

h3{
  font-size: 20px;
  text-align: center;
}

p{
  padding: 8px;
  text-align: justify;
}


/* *, *::before, *:after{
  box-sizing: inherit;
}

body{
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8rem;/*interlineado*/
/* }

h1, h2, h3{
  font-weight: 900;
  margin: 1rem 0 2rem 0;
/* } */ 

/* h1{
  font-size: 4.8rem;
}
h2{
  font-size: 5.8rem;
}
h3{
  font-size: 5rem; */
/* } */

/* a{
  text-decoration: none;
}

img{
  max-width: 100%;
  display: inline-block;/*para que no tengan esa linea en la parte inferior*/
/* } */

/* .contenedor{
  max-width:  120rem;
  margin: 0 auto;
  width: 90%;
} */ 

/* .text-center{
  text-align: center;

}

.mt-5{
  margin-top: 5rem;
} */


.header{
  background-image: url(https://img.freepik.com/free-photo/modern-automated-assembly-line-cars-latest-technological-neutral-technologies-production-cars-plant-assembly-shop-modern-cars_645730-531.jpg?w=996&t=st=1694205388~exp=1694205988~hmac=81a0ea2e91caeb4a1c692b7b6e8937bd6b4eedb09590ac045f367057bbc3da00);
  background-repeat: no-repeat;
  background-size: cover;/*para que tome todo el espacio*/
  background-position: center;
  height: 80vh;
}


  
  /* .container-header{
    display: flex;
    flex-direction: column;
    /* height: calc(60rem - 4rem); */
    /* justify-content: space-between; */
    
  /*} */

/*codigo medio util*/

.infoCompany{
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nameCompany{
  margin-left: 50px;
}

.nameCompany h1{
  color: rgb(210, 148, 33);
}

.nameCompany h1 span{
  color: orange;
  box-shadow: 5px 5px 5px rgb(210, 148, 33);;
}

.logoNumber img{
  width: 150px;
  height: 150px;
  margin: 3px 50px 3px 3px;
}

.navbar{
  margin-top: 30px;
  background-color: aliceblue;
  padding: 10px;
}

.navbar .navegacion ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}

.navbar .navegacion ul li{
  margin: 0 20px;
  font-size: 21px;
  font-weight: 550;
}

.slogan{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 40vh;
  background-color: aliceblue;
}


/* start nosotros */

.title-nosotros{

  margin: 8px 0 8px 40px;
}

.container-nosotros{
  background-color: aqua;
}

.mision-vision{
  display: flex;
  background-color: red;

}



@media (max-width: 768px) {
  .myv-parrafos{
    flex-direction: column;

  }
  .myv-parrafos .myv:nth-child(2){
    
    margin-right: 20px;
    
  }
  
  .myv-parrafos .myv:nth-child(3){
    
    margin-left: 20px;
    
  }

  .proyectos-component{
    flex-direction: column;
  }
  

 
}






.myv-parrafos{
  background-color: blueviolet;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
}

.myv-parrafos .myv:nth-child(1){
  background-color: brown;
  flex-basis: calc(50% - 1rem);
  
 

}

.myv-parrafos .myv:nth-child(2){
  flex-basis: calc(25% - 1rem);
  margin-left: 20px;
  
}

.myv-parrafos .myv:nth-child(3){
  flex-basis: calc(25% - 1rem);
  margin-right: 20px;
  
}



.myv p{
  text-align: justify; 
}

img{
  width: 100%;
  height: 100%;
}

.box{
  width: 100%;
   
}

.title-servicios{
  margin-left: 40px;
}


.card h3{
  margin: 20px;
  width: 100%;
}

.btn{
  background-color: white;
  height: 296px;
  width: 100%;
  height: auto;
  
}

.btn:hover{
  background-color: aqua;
}

.list-2-1{
  background-color: rgb(168, 28, 28);
  display: flex;
  align-items: center;
   
  margin-left: auto;
  margin-right: auto;

  
  
  
}
.title-auto{
  text-align: center;
  width: 100%;
  
}

.image-btn{
  display: flex;
  justify-content: center;
  
}



.auto{
  width: 100%;
}

.list-2-1 .auto:nth-child(1){
  /* background-color: whitesmoke; */
  flex-basis: calc(50% - 1rem);
  flex: 1;
  margin: 20px 20px 20px 40px;
  
}

.list-2-1 .auto:nth-child(2){
  flex-basis: calc(50% - 1rem);
  flex: 1;
  padding: 8px;
  margin: 20px 40px 20px 20px;
  
}

.pepa{
  padding: 40px;
  text-align: justify;
}
/* start proyectos */
.proyectos{
  /* background-color: blanchedalmond; */
  margin-top: 20px;
  
}

.container-proyectos{
  display: flex;
}

.title-proyectos{
  background-color: aqua;
  margin: 8px 0 8px 40px;
}

.proyecto1{
  display: flex;
  align-items: center;
  
  
}

.proyecto1 .pro1:nth-child(1){
  flex-basis: calc(50% - 1rem);
  
}

.proyecto1 .pro1:nth-child(2){
  flex-basis: calc(50% - 1rem);
   
}



.tya-parrafos img{
  width: 100%;
  height: 100%;
}

.tya-parrafos p{
  text-align: justify;
  margin: 22px;
  align-items: center;
}

.titles{
  text-align: center;
}

.proyectos-component{
  display: flex;
}



@media (max-width: 960px) {
  .myv-parrafos{
    flex-direction: column;

  }
  .myv-parrafos .myv:nth-child(2){
    
    margin-right: 20px;
    
  }
  
  .myv-parrafos .myv:nth-child(3){
    
    margin-left: 20px;
    
  }

  .proyecto1{
    flex-direction: column;
  }

  .list-2-1{
    flex-direction: column;
    width: 80%;
  }
   .image-btn{
    flex-direction: column;
   }

   .list-2-1 .auto:nth-child(2){
    margin: 0;
    
  }
  .list-2-1 .auto:nth-child(3){
    margin: 0;
    
    
  }
  .box{
    width: 80%;
   margin-left: auto;
   margin-right: auto;
  }
   

}





