*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
.list-1{
  list-style: none;
  background-color: blueviolet;
  margin-top: 20px;
}
.list-2{
  background-color: aqua;
  margin-top: 20px;
  display: flex;
}

.list-3{
  background-color: aquamarine;
  margin-top: 20px;
}

.list-4{
  background-color: red;
  margin-top: 20px;
}

.list-2-1{
  align-items: center;
}

.list-2-4{
  align-items: center;

}